{% extends 'artists/model.html' %}

{% load crispy_forms_tags %}

{% block title%}
<title>Registar Música</title>
{% endblock %}

{% block linkbutton%}
<a href="{% url 'list' %}" class="a-button bts-bs">Voltar ao Início</a>
{% endblock %}

{% block content%}
<main class="container">
    <h1 class="title">Adicionar nova música</h1>

<!-- >https://docs.djangoproject.com/en/3.1/ref/csrf/ -->
    <form action="" method="POST">
        {% csrf_token %}
        
        {{form|crispy}}

        <div class="btns">
            <button type="submit" class="btn bts-bs">Salvar</button>

            {% if song %}
                <a href="{% url 'url_delete' song.id %}" class="delete bts-bs">Deletar</a>
            {% endif %}
        </div>

        
    </form>
</main>
{% endblock %}



